body {
  font-family: "Playwrite NZ Basic", cursive, sans-serif;
  background: #0a7685;
}

.container {
  background-image: url("images/clouds.jpg");
  padding: 20px;
  max-width: 600px;
  width: 90%;
  margin: 40px auto;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
}
form {
  text-align: center;
  padding-bottom: 30px;
  border-bottom: double #352f44;
}

.name-city {
  background: #0a7685;
  font-size: 20px;
  padding: 20px;
  border-radius: 15px;
  border: none;
  width: 75%;
  color: white;
  outline: none;
}
.name-city::placeholder {
  color: white;
  opacity: 0.9;
  font-family: "Playwrite NZ Basic", cursive;
}
.search-city {
  background: #0a7685;
  font-size: 15px;
  color: white;
  padding: 20px;
  border-radius: 15px;
  border: none;
  font-family: "Playwrite NZ Basic", cursive;
}
h1 {
  font-size: 45px;
  margin: 25px auto;
  color: #352f44;
}
p strong {
  color: rgb(139, 36, 117);
}
.details {
  line-height: 1.4;
  font-size: 18px;
  color: #085964;
}
.current-temperature {
  display: flex;
  justify-content: flex-end;
  margin-bottom: -50px;
  position: relative;
  top: -120px;
}

.current-temperature-icon {
  font-size: 38px;
  position: relative;
  top: 25px;
}
.current-temperature-number {
  font-size: 70px;
  font-weight: bold;
  color: #352f44;
}
.current-temperature-unit {
  font-size: 30px;
  position: relative;
  top: 10px;
  color: #31264e;
}
footer {
  text-align: center;
  border-top: double #352f44;
  padding: 20px 0 0 0;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
}
a {
  color: rgb(139, 36, 117);
}
